@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  /* INDEX-SPECIFIC STYLING */
  
  #index-header {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  
  #index-menu {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  
  table {
    border-collapse:collapse;
    max-width: 1500px;
    width: 95%;
    margin-bottom: 30px;
    position: relative;
  }
  
  table tr {
  border-bottom:1px solid #D3D3D3;
  }
  
  th, td {
  padding: 10px;
  }

  th {
    position: sticky;
    top: 0;
    background-color: #D3D3D3;
  }
  
  td {
    text-align: center
  }
  
  td.index-codes {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .index-code {
    flex-grow: 1
  }

  table tr:nth-child(odd) td{
    background-color: #FFFFFF
  }
  table tr:nth-child(even) td{
    background-color: #F0F0F0
  }
  
  /* Histograms and Index */
  
  #table {
    border: 1px solid #D3D3D3;
    max-height: 500px;
  }
  
  .table-header {
    font-family: sans-serif;
  }
  
  .histogram-posters>a {
    margin: 0.33em;
  }
  
  .submenu {
    margin-top: -1em;
    margin-bottom: 1em;
    font-family: sans-serif
  }
  
  /* Thread pages */
  
  .num_posts {
    font-family: sans-serif;
    font-weight: bold;
  }
  
  /* Spacers */
  .spacer-10 {
    margin-bottom: 10px;
  }